header {
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Roboto'!important;
  font-weight: 700;
  letter-spacing: 1px;
}

header h3 {
  font-size: 22px;
  line-height: 32px;
}

header h3 span {
  text-decoration: underline;
  text-underline-offset: 7px;
}

#logos-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logos-liens-externes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#logos-liens-externes > div > a > img {
  width: 100px;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 30px;
  }

  header h3 {
    font-size: 20px;
  }



  #logos-liens-externes {
    gap: 5px;
  }

  #logos-liens-externes > div > a > img {
    max-width: 80%;
  }
  
}